*{
   
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    position: relative;
    margin: auto;
    display: inline-block;
 }

nav ul {
    display: flex;
}

nav ul li{
    position: relative;
    margin: auto;
    display: inline-block;
 }
 nav ul ul {
    display: none;
    position: absolute;
}
ul li:hover > ul{
    display: inherit;
}

ul ul li{
    float: none;
    display: list-item;
    position: relative;
    width: 170px;
}

 nav ul li a:hover{
    
    border-radius: 25px;
    background-color: #569DAA;
   transform: translateY(-5px);
   opacity: 2;
}
nav ul li a{
    text-decoration: none;
    color: #B9EDDD;
    padding: 6px 30px;
    transition: 0.5s;
    display: block;
    font: 20px Raleway;
    opacity: 0.5;

}
#nav:hover{
    
    border-radius: 25px;
    background-color: #7CB9E8;
   transform: translateY(-10px);
}

img{
    width: 100%;
    height: auto
}

section
    {
        display: flex;
        flex-direction: row;
        background-color: #576CBC;
        height: 16vh;
        justify-content: center;
        align-items: center;
    }
#logo img{
     width: 100px;
     height: auto;
     margin: 15px;
}

#main h1{
    text-align: center;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main h3{
    text-align: center;
    margin-top: 200px;
}

#hero{
    margin: 50px;
    border: 1px solid black;
    width: 350px;
}
#hero h1{
    text-align: center;
}

#top{
    margin: 20px;
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 15px;
}

#sub button{
    font-size: 12px;
    padding: 10px 16px;
    margin: 10px;
}


#main h3,h1{
    position: absolute;
}